@page {
    size: A4;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

@media print {
    .pages {
        border-style: none;
    }
}

body {
    margin: 0;

    padding: 0;

    display: flex;

    align-items: center;

    flex-direction: column;

    justify-content: start;
}

.pages {
    width: 210mm;
    height: 297mm;

    padding: 10mm;

    box-sizing: border-box;

    border-width: 1pt;
    border-style: solid;
    border-color: black;

    * {
        margin: 0;

        font-size: 12pt;
        font-family: "Source Serif 4";
    }

    h2, h3, h4, p, ul, ol, table {
        margin-bottom: 4pt;
    }

    h2, h3, h4 {
        line-height: 1;

        font-family: "Source Sans 3";

        padding-bottom: 2pt;

        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    h2 {
        font-size: 16pt;

        margin-bottom: 8pt;
    }

    .sectionbody {
        columns: 3;

        column-gap: 5mm;
        column-fill: auto;

        > * {
            break-inside: avoid;

            margin-bottom: 8pt;
        }
    }

    h3 {
        font-size: 12pt;
    }

    ul {
        padding-left: 5mm;

        li p {
            margin: 0;
            margin-left: -4pt;
        }
    }

    .md {
        * {
            font-size: 10pt;
        }

        ul {
            padding-left: 4.5mm;
        }
    }

    .sm {
        * {
            font-size: 8pt;
        }

        ul {
            padding-left: 4mm;
        }

        ol {
            padding-left: 3mm;
        }
    }

    .xs {
        * {
            font-size: 6pt;
        }

        ul {
            padding-left: 3.5mm;
        }
    }
}
